<script>{
		"title":
			".blur()",
		"excerpt":
			"Bind an event handler to the \"blur\" JavaScript event, or trigger that event on an element.",
		"termSlugs": {
			"category": [
				"events/form-events","forms","version/1.0","version/1.4.3"
			]
		}
	}</script><h2 class="section-title">
<span class="name">.blur( handler(eventObject) )</span><span class="returns">Returns: jQuery</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Bind an event handler to the "blur" JavaScript event, or trigger that event on an element.</p>
<ul class="signatures">
<li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.0</span>.blur( handler(eventObject) )</h4>
<ul><li>
<div><strong>handler(eventObject)</strong></div>
<div>Type: Function()</div>
<div>A function to execute each time the event is triggered.</div>
</li></ul>
</li>
<li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.4.3</span>.blur(  [eventData ], handler(eventObject) )</h4>
<ul>
<li>
<div><strong>eventData</strong></div>
<div>Type: Object</div>
<div>An object containing data that will be passed to the event handler.</div>
</li>
<li>
<div><strong>handler(eventObject)</strong></div>
<div>Type: Function()</div>
<div>A function to execute each time the event is triggered.</div>
</li>
</ul>
</li>
<li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.0</span>.blur()</h4>
<ul><li><div class="null-signature">This method does not accept any arguments.</div></li></ul>
</li>
</ul>
<div class="longdesc" id="entry-longdesc">
    <p>This method is a shortcut for <code>.on( "blur", handler )</code> in the first two variations, and <code>.trigger( "blur" )</code> in the third.</p>
    <p>The <code>blur</code> event is sent to an element when it loses focus. Originally, this event was only applicable to form elements, such as <code>&lt;input&gt;</code>. In recent browsers, the domain of the event has been extended to include all element types. An element can lose focus via keyboard commands, such as the Tab key, or by mouse clicks elsewhere on the page.</p>
    <p>For example, consider the HTML:</p>
    <div class="syntaxhighlighter xml nogutter">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
						<div class="line n5">5</div>
					
						<div class="line n6">6</div>
					
						<div class="line n7">7</div>
					
						<div class="line n8">8</div>
					
						<div class="line n9">9</div>
					
						<div class="line n10">10</div>
					
						<div class="line n11">11</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">form</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  <span class="tag">&lt;<span class="title">input</span> <span class="attribute">id</span>=<span class="value">"target"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">value</span>=<span class="value">"Field 1"</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">value</span>=<span class="value">"Field 2"</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;/<span class="title">form</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"other"</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  Trigger the handler</code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>The event handler can be bound to the first input field:</code></div></div><div class="container"><div class="line"><code>$( "#target" ).blur(function() {</code></div></div><div class="container"><div class="line"><code>  alert( "Handler for .blur() called." );</code></div></div><div class="container"><div class="line"><code>});</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

    <p>Now if the first field has the focus, clicking elsewhere or tabbing away from it displays the alert:</p>
    <p>
      <samp>Handler for .blur() called.</samp>
    </p>
    <p>To trigger the event programmatically, apply <code>.blur()</code> without an argument:</p>
    <div class="syntaxhighlighter javascript nogutter">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$( <span class="string">"#other"</span> ).click(<span class="keyword">function</span>() {</code></div></div><div class="container"><div class="line"><code>  $( <span class="string">"#target"</span> ).blur();</code></div></div><div class="container"><div class="line"><code>});</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

    <p>After this code executes, clicks on <samp>Trigger the handler</samp> will also alert the message.</p>
    <p>The <code>blur</code> event does not bubble in Internet Explorer. Therefore, scripts that rely on event delegation with the <code>blur</code> event will not work consistently across browsers. As of version 1.4.2, however, jQuery works around this limitation by mapping <code>blur</code> to the <code>focusout</code> event in its event delegation methods, <code>.live()</code> and <code>.delegate()</code>.</p>
  </div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">To trigger the blur event on all paragraphs:</span></h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$( <span class="string">"p"</span> ).blur();</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>