<script>{
		"title":
			"callbacks.has()",
		"excerpt":
			"Determine whether a supplied callback is in a list",
		"termSlugs": {
			"category": [
				"callbacks-object","version/1.7"
			]
		}
	}</script><h2 class="section-title">
<span class="name">callbacks.has( callback )</span><span class="returns">Returns: Boolean</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Determine whether a supplied callback is in a list</p>
<ul class="signatures"><li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.7</span>callbacks.has( callback )</h4>
<ul><li>
<div><strong>callback</strong></div>
<div>Type: Function()</div>
<div>The callback to search for.</div>
</li></ul>
</li></ul>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">Use <code>callbacks.has()</code> to check if a callback list contains a specific callback:</span></h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
						<div class="line n5">5</div>
					
						<div class="line n6">6</div>
					
						<div class="line n7">7</div>
					
						<div class="line n8">8</div>
					
						<div class="line n9">9</div>
					
						<div class="line n10">10</div>
					
						<div class="line n11">11</div>
					
						<div class="line n12">12</div>
					
						<div class="line n13">13</div>
					
						<div class="line n14">14</div>
					
						<div class="line n15">15</div>
					
						<div class="line n16">16</div>
					
						<div class="line n17">17</div>
					
						<div class="line n18">18</div>
					
						<div class="line n19">19</div>
					
						<div class="line n20">20</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code><span class="comment">// A sample logging function to be added to a callbacks list</span></code></div></div><div class="container"><div class="line"><code><span class="keyword">var</span> foo = <span class="keyword">function</span>( value1, value2 ) {</code></div></div><div class="container"><div class="line"><code>  console.log( <span class="string">"Received: "</span> + value1 + <span class="string">","</span> + value2 );</code></div></div><div class="container"><div class="line"><code>};</code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code><span class="comment">// A second function which will not be added to the list</span></code></div></div><div class="container"><div class="line"><code><span class="keyword">var</span> bar = <span class="keyword">function</span>( value1, value2 ) {</code></div></div><div class="container"><div class="line"><code>  console.log( <span class="string">"foobar"</span> );</code></div></div><div class="container"><div class="line"><code>};</code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code><span class="keyword">var</span> callbacks = $.Callbacks();</code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code><span class="comment">// Add the log method to the callbacks list</span></code></div></div><div class="container"><div class="line"><code>callbacks.add( foo );</code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code><span class="comment">// Determine which callbacks are in the list</span></code></div></div><div class="container"><div class="line"><code>console.log( callbacks.has( foo ) );</code></div></div><div class="container"><div class="line"><code><span class="comment">// true</span></code></div></div><div class="container"><div class="line"><code>console.log( callbacks.has( bar ) );</code></div></div><div class="container"><div class="line"><code><span class="comment">// false</span></code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>