<script>{
		"title":
			"deferred.notifyWith()",
		"excerpt":
			" Call the progressCallbacks on a Deferred object with the given context and args. ",
		"termSlugs": {
			"category": [
				"deferred-object","version/1.7"
			]
		}
	}</script><h2 class="section-title">
<span class="name">deferred.notifyWith( context [, args ] )</span><span class="returns">Returns: Deferred</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong> Call the progressCallbacks on a Deferred object with the given context and <code>args</code>. </p>
<ul class="signatures"><li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.7</span>deferred.notifyWith( context [, args ] )</h4>
<ul>
<li>
<div><strong>context</strong></div>
<div>Type: Object</div>
<div>
        Context passed to the progressCallbacks as the <code>this</code> object.
      </div>
</li>
<li>
<div><strong>args</strong></div>
<div>Type: Object</div>
<div>
        Optional arguments that are passed to the progressCallbacks.
      </div>
</li>
</ul>
</li></ul>
<div class="longdesc" id="entry-longdesc">
    <p>Normally, only the creator of a Deferred should call this method; you can prevent other code from changing the Deferred's state or reporting status by returning a restricted Promise object through deferred.promise().</p>
    <p>When <code>deferred.notifyWith</code> is called, any progressCallbacks added by <code>deferred.then</code> or <code>deferred.progress</code> are called. Callbacks are executed in the order they were added. Each callback is passed the <code>args</code> from the <code>.notifyWith()</code>. Any calls to <code>.notifyWith()</code> after a Deferred is resolved or rejected (or any progressCallbacks added after that) are ignored. For more information, see the documentation for Deferred object.</p>
  </div>
</div>