<script>{
		"title":
			"event.type",
		"excerpt":
			" Describes the nature of the event.  ",
		"termSlugs": {
			"category": [
				"events/event-object","version/1.0"
			]
		}
	}</script><h2 class="section-title">
<span>event.type</span><span class="returns">Returns: String</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong> Describes the nature of the event.  </p>
<ul class="signatures"><li class="signature"><h4 class="name">
<span class="version-details">version added: 1.0</span>event.type</h4></li></ul>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">On all anchor clicks, alert the event type.</span></h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$(<span class="string">"a"</span>).click(<span class="keyword">function</span>(event) {</code></div></div><div class="container"><div class="line"><code>  alert(event.type); <span class="comment">// "click"</span></code></div></div><div class="container"><div class="line"><code>}); </code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>