<script>{
		"title":
			"event.relatedTarget",
		"excerpt":
			"The other DOM element involved in the event, if any. ",
		"termSlugs": {
			"category": [
				"events/event-object","version/1.1.4"
			]
		}
	}</script><h2 class="section-title">
<span>event.relatedTarget</span><span class="returns">Returns: Element</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>The other DOM element involved in the event, if any. </p>
<ul class="signatures"><li class="signature"><h4 class="name">
<span class="version-details">version added: 1.1.4</span>event.relatedTarget</h4></li></ul>
<div class="longdesc" id="entry-longdesc">
    <p>For <code>mouseout</code>, indicates the element being entered; for <code>mouseover</code>, indicates the element being exited. </p>
  </div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">On mouseout of anchors, alert the element type being entered.</span></h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$(<span class="string">"a"</span>).mouseout(<span class="keyword">function</span>(event) {</code></div></div><div class="container"><div class="line"><code>  alert(event.relatedTarget.nodeName); <span class="comment">// "DIV"</span></code></div></div><div class="container"><div class="line"><code>});  </code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>