<script>{
		"title":
			"event.stopPropagation()",
		"excerpt":
			"Prevents the event from bubbling up the DOM tree, preventing any parent handlers from being notified of the event.   ",
		"termSlugs": {
			"category": [
				"events/event-object","version/1.0"
			]
		}
	}</script><h2 class="section-title">
<span class="name">event.stopPropagation()</span><span class="returns">Returns: </span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Prevents the event from bubbling up the DOM tree, preventing any parent handlers from being notified of the event.   </p>
<ul class="signatures"><li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.0</span>event.stopPropagation()</h4>
<ul><li><div class="null-signature">This method does not accept any arguments.</div></li></ul>
</li></ul>
<div class="longdesc" id="entry-longdesc">
    <p>We can use <code>event.isPropagationStopped()</code> to determine if this method was ever called (on that event object). </p>
    <p>This method works for custom events triggered with trigger(), as well.</p>
    <p>Note that this will not prevent other handlers <em>on the same element</em> from running. </p>
  </div>
<h3>Additional Notes:</h3>
<div class="longdesc"><ul><li>
			Since the <code>.live()</code> method handles events once they have propagated to the top of the document, it is not possible to stop propagation of live events. Similarly, events handled by <code>.delegate()</code> will propagate to the elements to which they are delegated; event handlers bound on any elements below it in the DOM tree will already have been executed by the time the delegated event handler is called. These handlers, therefore, may prevent the delegated handler from triggering by calling <code>event.stopPropagation()</code> or returning <code>false</code>.
		</li></ul></div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">Kill the bubbling on the click event.</span></h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$(<span class="string">"p"</span>).click(<span class="keyword">function</span>(event){</code></div></div><div class="container"><div class="line"><code>  event.stopPropagation();</code></div></div><div class="container"><div class="line"><code>  <span class="comment">// do something</span></code></div></div><div class="container"><div class="line"><code>});  </code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>