<script>{
		"title":
			"event.currentTarget",
		"excerpt":
			" The current DOM element within the event bubbling phase.  ",
		"termSlugs": {
			"category": [
				"events/event-object","version/1.3"
			]
		}
	}</script><h2 class="section-title">
<span>event.currentTarget</span><span class="returns">Returns: Element</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong> The current DOM element within the event bubbling phase.  </p>
<ul class="signatures"><li class="signature"><h4 class="name">
<span class="version-details">version added: 1.3</span>event.currentTarget</h4></li></ul>
<div class="longdesc" id="entry-longdesc">
    <p>This property will typically be equal to the <code>this</code> of the function.</p>
    <p>
      <em>If you are using jQuery.proxy or another form of scope manipulation, <code>this</code> will be equal to whatever context you have provided, not <code>event.currentTarget</code></em>
    </p>
  </div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">Alert that currentTarget matches the `this` keyword.</span></h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$(<span class="string">"p"</span>).click(<span class="keyword">function</span>(event) {</code></div></div><div class="container"><div class="line"><code>  alert( event.currentTarget === <span class="keyword">this</span> ); <span class="comment">// true</span></code></div></div><div class="container"><div class="line"><code>});  </code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>