<script>{
		"title":
			"jQuery.ajaxSetup()",
		"excerpt":
			"Set default values for future Ajax requests. Its use is not recommended.",
		"termSlugs": {
			"category": [
				"ajax/low-level-interface","version/1.1"
			]
		}
	}</script><h2 class="section-title">
<span class="name">jQuery.ajaxSetup( options )</span><span class="returns">Returns: </span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Set default values for future Ajax requests. Its use is not recommended.</p>
<ul class="signatures"><li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.1</span>jQuery.ajaxSetup( options )</h4>
<ul><li>
<div><strong>options</strong></div>
<div>Type: PlainObject</div>
<div>A set of key/value pairs that configure the default Ajax request. All options are optional. </div>
</li></ul>
</li></ul>
<div class="longdesc" id="entry-longdesc">
    <p>For details on the settings available for <code>$.ajaxSetup()</code>, see <code>$.ajax()</code>. </p>
    <p>All subsequent Ajax calls using any function will use the new settings, unless overridden by the individual calls, until the next invocation of <code>$.ajaxSetup()</code>.</p>
	<p><strong>Note:</strong> The settings specified here will affect <em>all</em> calls to <code>$.ajax</code> or AJAX-based derivatives such as <code>$.get()</code>. This can cause undesirable behavior since other callers (for example, plugins) may be expecting the normal default settings. For that reason we <em>strongly recommend against using this API</em>. Instead, set the options explicitly in the call or define a simple plugin to do so.</p>
    <p>For example, the following sets a default for the <code>url</code> parameter before pinging the server repeatedly:</p>
    <div class="syntaxhighlighter javascript nogutter">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$.ajaxSetup({</code></div></div><div class="container"><div class="line"><code>  url: <span class="string">'ping.php'</span></code></div></div><div class="container"><div class="line"><code>});</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

    <p>Now each time an Ajax request is made, the "ping.php" URL will be used automatically:</p>
    <div class="syntaxhighlighter javascript nogutter">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$.ajax({</code></div></div><div class="container"><div class="line"><code>  <span class="comment">// url not set here; uses ping.php</span></code></div></div><div class="container"><div class="line"><code>  data: {<span class="string">'name'</span>: <span class="string">'Dan'</span>}</code></div></div><div class="container"><div class="line"><code>});</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

    <div class="warning">
      <p>Note: Global callback functions should be set with their respective global Ajax event handler methods—<code>.ajaxStart()</code>, <code>.ajaxStop()</code>, <code>.ajaxComplete()</code>, <code>.ajaxError()</code>, <code>.ajaxSuccess()</code>, <code>.ajaxSend()</code>—rather than within the <code>options</code> object for <code>$.ajaxSetup()</code>.</p>
    </div>
  </div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">Sets the defaults for Ajax requests to the url "/xmlhttp/", disables global handlers and uses POST instead of GET. The following Ajax requests then sends some data without having to set anything else.</span></h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
						<div class="line n5">5</div>
					
						<div class="line n6">6</div>
					
						<div class="line n7">7</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$.ajaxSetup({</code></div></div><div class="container"><div class="line"><code>   url: <span class="string">"/xmlhttp/"</span>,</code></div></div><div class="container"><div class="line"><code>   global: <span class="literal">false</span>,</code></div></div><div class="container"><div class="line"><code>   type: <span class="string">"POST"</span></code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code> });</code></div></div><div class="container"><div class="line"><code> $.ajax({ data: myData });</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>