<script>{
		"title":
			"jQuery.isXMLDoc()",
		"excerpt":
			"Check to see if a DOM node is within an XML document (or is an XML document).",
		"termSlugs": {
			"category": [
				"utilities","version/1.1.4"
			]
		}
	}</script><h2 class="section-title">
<span class="name">jQuery.isXMLDoc( node )</span><span class="returns">Returns: Boolean</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Check to see if a DOM node is within an XML document (or is an XML document).</p>
<ul class="signatures"><li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.1.4</span>jQuery.isXMLDoc( node )</h4>
<ul><li>
<div><strong>node</strong></div>
<div>Type: Element</div>
<div>The DOM node that will be checked to see if it's in an XML document.</div>
</li></ul>
</li></ul>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">Check an object to see if it's in an XML document.</span></h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>jQuery.isXMLDoc(document) <span class="comment">// false</span></code></div></div><div class="container"><div class="line"><code>    jQuery.isXMLDoc(document.body) <span class="comment">// false</span></code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>