<script>{
		"title":
			"jQuery.isPlainObject()",
		"excerpt":
			"Check to see if an object is a plain object (created using \"{}\" or \"new Object\").",
		"termSlugs": {
			"category": [
				"utilities","version/1.4"
			]
		}
	}</script><h2 class="section-title">
<span class="name">jQuery.isPlainObject( object )</span><span class="returns">Returns: Boolean</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Check to see if an object is a plain object (created using "{}" or "new Object").</p>
<ul class="signatures"><li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.4</span>jQuery.isPlainObject( object )</h4>
<ul><li>
<div><strong>object</strong></div>
<div>Type: PlainObject</div>
<div>The object that will be checked to see if it's a plain object.</div>
</li></ul>
</li></ul>
<div class="longdesc" id="entry-longdesc">
    <p><strong>Note:</strong> Host objects (or objects used by browser host environments to complete the execution environment of ECMAScript) have a number of inconsistencies which are difficult to robustly feature detect cross-platform. As a result of this,  <code>$.isPlainObject()</code> may evaluate inconsistently across browsers in certain instances.</p>
    <p>An example of this is a test against <code>document.location</code> using <code>$.isPlainObject()</code> as follows:</p>
    <div class="syntaxhighlighter javascript nogutter">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>  console.log($.isPlainObject(document.location));</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

    <p>which throws an invalid pointer exception in IE8. With this in mind, it's important to be aware of any of the gotchas involved in using <code>$.isPlainObject()</code> against older browsers. A couple basic examples that do function correctly cross-browser can be found below.</p>
  </div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">Check an object to see if it's a plain object.</span></h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>jQuery.isPlainObject({}) <span class="comment">// true</span></code></div></div><div class="container"><div class="line"><code>jQuery.isPlainObject(<span class="string">"test"</span>) <span class="comment">// false</span></code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>