<script>{
		"title":
			"jQuery.merge()",
		"excerpt":
			"Merge the contents of two arrays together into the first array. ",
		"termSlugs": {
			"category": [
				"utilities","version/1.0"
			]
		}
	}</script><h2 class="section-title">
<span class="name">jQuery.merge( first, second )</span><span class="returns">Returns: Array</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Merge the contents of two arrays together into the first array. </p>
<ul class="signatures"><li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.0</span>jQuery.merge( first, second )</h4>
<ul>
<li>
<div><strong>first</strong></div>
<div>Type: Array</div>
<div>The first array to merge, the elements of second added.</div>
</li>
<li>
<div><strong>second</strong></div>
<div>Type: Array</div>
<div>The second array to merge into the first, unaltered.</div>
</li>
</ul>
</li></ul>
<div class="longdesc" id="entry-longdesc">
    <p>The <code>$.merge()</code> operation forms an array that contains all elements from the two arrays. The orders of items in the arrays are preserved, with items from the second array appended. The <code>$.merge()</code> function is destructive. It alters the first parameter to add the items from the second.  </p>
    <p>If you need the original first array, make a copy of it before calling <code>$.merge()</code>. Fortunately, <code>$.merge()</code> itself can be used for this duplication:</p>
    <div class="syntaxhighlighter javascript nogutter">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code><span class="keyword">var</span> newArray = $.merge([], oldArray);</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

    <p>This shortcut creates a new, empty array and merges the contents of oldArray into it, effectively cloning the array.</p>
    <p>Prior to jQuery 1.4, the arguments should be true Javascript Array objects; use <code>$.makeArray</code> if they are not.</p>
  </div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Examples:</h2></header><div class="entry-example" id="example-0">
<h4>Example: <span class="desc">Merges two arrays, altering the first argument.</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$.merge( [<span class="number">0</span>,<span class="number">1</span>,<span class="number">2</span>], [<span class="number">2</span>,<span class="number">3</span>,<span class="number">4</span>] )</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<h4>Result:</h4>
<div class="syntaxhighlighter javascript nogutter">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>[<span class="number">0</span>,<span class="number">1</span>,<span class="number">2</span>,<span class="number">2</span>,<span class="number">3</span>,<span class="number">4</span>] </code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="entry-example" id="example-1">
<h4>Example: <span class="desc">Merges two arrays, altering the first argument.</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$.merge( [<span class="number">3</span>,<span class="number">2</span>,<span class="number">1</span>], [<span class="number">4</span>,<span class="number">3</span>,<span class="number">2</span>] )  </code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<h4>Result:</h4>
<div class="syntaxhighlighter javascript nogutter">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>[<span class="number">3</span>,<span class="number">2</span>,<span class="number">1</span>,<span class="number">4</span>,<span class="number">3</span>,<span class="number">2</span>] </code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="entry-example" id="example-2">
<h4>Example: <span class="desc">Merges two arrays, but uses a copy, so the original isn't altered.</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code><span class="keyword">var</span> first = [<span class="string">'a'</span>,<span class="string">'b'</span>,<span class="string">'c'</span>];</code></div></div><div class="container"><div class="line"><code><span class="keyword">var</span> second = [<span class="string">'d'</span>,<span class="string">'e'</span>,<span class="string">'f'</span>];</code></div></div><div class="container"><div class="line"><code>$.merge( $.merge([],first), second);</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<h4>Result:</h4>
<div class="syntaxhighlighter javascript nogutter">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>[<span class="string">"a"</span>,<span class="string">"b"</span>,<span class="string">"c"</span>,<span class="string">"d"</span>,<span class="string">"e"</span>,<span class="string">"f"</span>] </code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>