<script>{
		"title":
			"jQuery.type()",
		"excerpt":
			"Determine the internal JavaScript [[Class]] of an object.",
		"termSlugs": {
			"category": [
				"utilities","version/1.4.3"
			]
		}
	}</script><h2 class="section-title">
<span class="name">jQuery.type( obj )</span><span class="returns">Returns: String</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Determine the internal JavaScript [[Class]] of an object.</p>
<ul class="signatures"><li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.4.3</span>jQuery.type( obj )</h4>
<ul><li>
<div><strong>obj</strong></div>
<div>Type: PlainObject</div>
<div>Object to get the internal JavaScript [[Class]] of.</div>
</li></ul>
</li></ul>
<div class="longdesc" id="entry-longdesc">
    <p>A number of techniques are used to determine the exact return value for an object. The [[Class]] is determined as follows:</p>
    <ul>
      <li>If the object is undefined or null, then "undefined" or "null" is returned accordingly.
        <ul>
          <li>jQuery.type( undefined ) === "undefined"</li>
          <li>jQuery.type() === "undefined"</li>
          <li>jQuery.type( window.notDefined ) === "undefined"</li>
          <li>jQuery.type( null ) === "null"</li>
        </ul>
      </li>
      <li>If the argument is either a primitive value or an instance of a standard built-in ECMAScript object, the [[Class]] internal property is used to determine the type. (More details about this technique.)
        <ul>
          <li>jQuery.type( true ) === "boolean"</li>
          <li>jQuery.type( new Boolean() ) === "boolean"</li>
          <li>jQuery.type( 3 ) === "number"</li>
          <li>jQuery.type( new Number(3) ) === "number"</li>
          <li>jQuery.type( "test" ) === "string"</li>
          <li>jQuery.type( new String("test") ) === "string"</li>
          <li>jQuery.type( function(){} ) === "function"</li>
          <li>jQuery.type( [] ) === "array"</li>
          <li>jQuery.type( new Array() ) === "array"</li>
          <li>jQuery.type( new Date() ) === "date"</li>
          <li>jQuery.type( new Error() ) === "error" // <strong>as of jQuery 1.9</strong>
</li>
          <li>jQuery.type( /test/ ) === "regexp"</li>
        </ul>
      </li>
      <li>Everything else returns "object" as its type.</li>
    </ul>
  </div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">Find out if the parameter is a RegExp.</span></h4>
<div class="syntaxhighlighter xml ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
						<div class="line n5">5</div>
					
						<div class="line n6">6</div>
					
						<div class="line n7">7</div>
					
						<div class="line n8">8</div>
					
						<div class="line n9">9</div>
					
						<div class="line n10">10</div>
					
						<div class="line n11">11</div>
					
						<div class="line n12">12</div>
					
						<div class="line n13">13</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code><span class="doctype">&lt;!doctype html&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">html</span> <span class="attribute">lang</span>=<span class="value">"en"</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">head</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  <span class="tag">&lt;<span class="title">meta</span> <span class="attribute">charset</span>=<span class="value">"utf-8"</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  <span class="tag">&lt;<span class="title">title</span>&gt;</span>jQuery.type demo<span class="tag">&lt;/<span class="title">title</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  <span class="tag">&lt;<span class="title">script</span> <span class="attribute">src</span>=<span class="value">"http://code.jquery.com/jquery-1.9.1.js"</span>&gt;</span><span class="javascript"></span><span class="tag">&lt;/<span class="title">script</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;/<span class="title">head</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">body</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  Is it a RegExp? <span class="tag">&lt;<span class="title">b</span>&gt;</span><span class="tag">&lt;/<span class="title">b</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">script</span>&gt;</span><span class="javascript">$(<span class="string">"b"</span>).append( <span class="string">""</span> + jQuery.type(<span class="regexp">/test/</span>) );</span><span class="tag">&lt;/<span class="title">script</span>&gt;</span></code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;/<span class="title">body</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;/<span class="title">html</span>&gt;</span></code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<h4>Demo:</h4>
<div class="demo code-demo"></div>
</div></section>
</div>