<script>{
		"title":
			".jquery",
		"excerpt":
			"A string containing the jQuery version number.",
		"termSlugs": {
			"category": [
				"internals","properties/jquery-object-instance-properties"
			]
		}
	}</script><h2 class="section-title">
<span>jquery</span><span class="returns">Returns: String</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>A string containing the jQuery version number.</p>
<ul class="signatures"><li class="signature"><h4 class="name">
<span class="version-details">version added: 1.0</span>jquery</h4></li></ul>
<div class="longdesc" id="entry-longdesc">
    <p>The <code>.jquery</code> property is assigned to the jQuery prototype, commonly referred to by its alias <code>$.fn</code>. It is a string containing the version number of <code>jQuery</code>, such as "1.5.0" or "1.4.4".</p>
  </div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Examples:</h2></header><div class="entry-example" id="example-0">
<h4>Example: <span class="desc">Determine if an object is a jQuery object</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
						<div class="line n5">5</div>
					
						<div class="line n6">6</div>
					
						<div class="line n7">7</div>
					
						<div class="line n8">8</div>
					
						<div class="line n9">9</div>
					
						<div class="line n10">10</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code><span class="keyword">var</span> a = { what: <span class="string">"A regular JS object"</span> },</code></div></div><div class="container"><div class="line"><code>    b = $(<span class="string">'body'</span>);</code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code><span class="keyword">if</span> ( a.jquery ) { <span class="comment">// falsy, since it's undefined</span></code></div></div><div class="container"><div class="line"><code>    alert(<span class="string">' a is a jQuery object! '</span>);</code></div></div><div class="container"><div class="line"><code>}</code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code><span class="keyword">if</span> ( b.jquery ) { <span class="comment">// truthy, since it's a string</span></code></div></div><div class="container"><div class="line"><code>    alert(<span class="string">' b is a jQuery object! '</span>);</code></div></div><div class="container"><div class="line"><code>}</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="entry-example" id="example-1">
<h4>Example: <span class="desc">Get the current version of jQuery running on the page</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>alert( <span class="string">'You are running jQuery version: '</span> + $.fn.jquery );</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>