<script>{
		"title":
			"jQuery.browser",
		"excerpt":
			"Contains flags for the useragent, read from navigator.userAgent. This property was removed in jQuery 1.9 and is available only through the jQuery.migrate plugin. Please try to use feature detection instead.",
		"termSlugs": {
			"category": [
				"properties/global-jquery-object-properties","utilities","version/1.0","version/1.1.3","deprecated/deprecated-1.3","properties/global-jquery-object-properties","utilities","version/1.0","version/1.1.3","deprecated/deprecated-1.3","removed"
			]
		}
	}</script><div class="toc">
<h4><span>Contents:</span></h4>
<ul class="toc-list">
<li>jQuery.browser</li>
<li>jQuery.browser.version</li>
</ul>
</div><h2 class="section-title">
<span>jQuery.browser</span><span class="returns">Returns: PlainObject</span><span class="version-details">version deprecated: 1.3, removed: 1.9</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Contains flags for the useragent, read from navigator.userAgent. <strong>This property was removed in jQuery 1.9</strong> and is available only through the jQuery.migrate plugin. Please try to use feature detection instead.</p>
<ul class="signatures"><li class="signature"><h4 class="name">
<span class="version-details">version added: 1.0</span>jQuery.browser</h4></li></ul>
<div class="longdesc" id="entry-longdesc">
      <p>The <code>$.browser</code> property provides information about the web browser that is accessing the page, as reported by the browser itself. It contains flags for each of the four most prevalent browser classes (Internet Explorer, Mozilla, Webkit, and Opera) as well as version information.</p>
      <p>Available flags are:</p>
      <ul>
        <li>webkit (as of jQuery 1.4)</li>
        <li>safari (deprecated)</li>
        <li>opera</li>
        <li>msie</li>
        <li>mozilla</li>
      </ul>
      <p>This property is available immediately. It is therefore safe to use it to determine whether or not to call <code>$(document).ready()</code>.
    The <code>$.browser</code> property is deprecated in jQuery 1.3, and its functionality may be moved to a team-supported plugin in a future release of jQuery.</p>
      <p>Because <code>$.browser</code> uses <code>navigator.userAgent</code> to determine the platform, it is vulnerable to spoofing by the user or misrepresentation by the browser itself. It is always best to avoid browser-specific code entirely where possible. The <code>$.support</code> property is available for detection of support for particular features rather than relying on <code>$.browser</code>. </p>
    </div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Examples:</h2></header><div class="entry-example" id="example-0">
<h4>Example: <span class="desc">Show the browser info.</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>jQuery.each(jQuery.browser, <span class="keyword">function</span>(i, val) {</code></div></div><div class="container"><div class="line"><code>  $(<span class="string">"&lt;div&gt;"</span> + i + <span class="string">" : &lt;span&gt;"</span> + val + <span class="string">"&lt;/span&gt;"</span>)</code></div></div><div class="container"><div class="line"><code>  .appendTo( document.body );</code></div></div><div class="container"><div class="line"><code>});</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="entry-example" id="example-1">
<h4>Example: <span class="desc">Return true if the current useragent is some version of Microsoft's Internet Explorer. <strong>Will not work in jQuery 1.9 or later</strong> unless the jQuery Migrate plugin is included.</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>  $.browser.msie;</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="entry-example" id="example-2">
<h4>Example: <span class="desc">Alert "this is WebKit!" only for WebKit browsers. <strong>Will not work in jQuery 1.9 or later</strong> unless the jQuery Migrate plugin is included.</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>  <span class="keyword">if</span> ($.browser.webkit) {</code></div></div><div class="container"><div class="line"><code>    alert( <span class="string">"this is webkit!"</span> );</code></div></div><div class="container"><div class="line"><code>  }</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div><h2 class="section-title">
<span>jQuery.browser.version</span><span class="returns">Returns: String</span><span class="version-details">version deprecated: 1.3, removed: 1.9</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>The version number of the rendering engine for the user's browser. <strong>This property was removed in jQuery 1.9</strong> and is available only through the jQuery.migrate plugin.</p>
<ul class="signatures"><li class="signature"><h4 class="name">
<span class="version-details">version added: 1.1.3</span>jQuery.browser.version</h4></li></ul>
<div class="longdesc" id="entry-longdesc-1">
      <p>Here are some typical results:</p>
      <ul>
        <li>Internet Explorer: 6.0, 7.0, 8.0</li>
        <li>Mozilla/Firefox/Flock/Camino: 1.7.12, 1.8.1.3, 1.9</li>
        <li>Opera: 10.06, 11.01</li>
        <li>Safari/Webkit: 312.8, 418.9</li>
      </ul>
      <p>Note that IE8 claims to be 7 in Compatibility View.</p>
    </div>
<section class="entry-examples" id="entry-examples-1"><header><h2 class="underline">Examples:</h2></header><div class="entry-example" id="example-1-0">
<h4>Example: <span class="desc">Return the version number of the rendering engine used by the user's current browser. For example, FireFox 4 returns 2.0 (the version of the Gecko rendering engine it utilizes). <strong>Will not work in jQuery 1.9 or later</strong> unless the jQuery Migrate plugin is included.</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$(<span class="string">"p"</span>).html( <span class="string">"The version # of the browser's rendering engine is: &lt;span&gt;"</span> +</code></div></div><div class="container"><div class="line"><code>                $.browser.version + <span class="string">"&lt;/span&gt;"</span> );</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="entry-example" id="example-1-1">
<h4>Example: <span class="desc">Alert the version of IE's rendering engine that is being used. <strong>Will not work in jQuery 1.9 or later</strong> unless the jQuery Migrate plugin is included.</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code><span class="keyword">if</span> ( $.browser.msie ) {</code></div></div><div class="container"><div class="line"><code>  alert( $.browser.version );</code></div></div><div class="container"><div class="line"><code>}</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>