<script>{
		"title":
			"jQuery.isEmptyObject()",
		"excerpt":
			"Check to see if an object is empty (contains no enumerable properties).",
		"termSlugs": {
			"category": [
				"utilities","version/1.4"
			]
		}
	}</script><h2 class="section-title">
<span class="name">jQuery.isEmptyObject( object )</span><span class="returns">Returns: Boolean</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Check to see if an object is empty (contains no enumerable properties).</p>
<ul class="signatures"><li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.4</span>jQuery.isEmptyObject( object )</h4>
<ul><li>
<div><strong>object</strong></div>
<div>Type: Object</div>
<div>The object that will be checked to see if it's empty.</div>
</li></ul>
</li></ul>
<div class="longdesc" id="entry-longdesc">
    <p>As of jQuery 1.4 this method checks both properties on the object itself and properties inherited from prototypes (in that it doesn't use hasOwnProperty). The argument should always be a plain JavaScript <code>Object</code> as other types of object (DOM elements, primitive strings/numbers, host objects) may not give consistent results across browsers. To determine if an object is a plain JavaScript object, use <code>$.isPlainObject()</code></p>
  </div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">Check an object to see if it's empty.</span></h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>jQuery.isEmptyObject({}) <span class="comment">// true</span></code></div></div><div class="container"><div class="line"><code>      jQuery.isEmptyObject({ foo: <span class="string">"bar"</span> }) <span class="comment">// false</span></code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>