<script>{
		"title":
			".pushStack()",
		"excerpt":
			"Add a collection of DOM elements onto the jQuery stack.",
		"termSlugs": {
			"category": [
				"internals","version/1.0","version/1.3"
			]
		}
	}</script><h2 class="section-title">
<span class="name">.pushStack( elements )</span><span class="returns">Returns: jQuery</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Add a collection of DOM elements onto the jQuery stack.</p>
<ul class="signatures">
<li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.0</span>.pushStack( elements )</h4>
<ul><li>
<div><strong>elements</strong></div>
<div>Type: Array</div>
<div>An array of elements to push onto the stack and make into a new jQuery object.</div>
</li></ul>
</li>
<li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.3</span>.pushStack( elements, name, arguments )</h4>
<ul>
<li>
<div><strong>elements</strong></div>
<div>Type: Array</div>
<div>An array of elements to push onto the stack and make into a new jQuery object.</div>
</li>
<li>
<div><strong>name</strong></div>
<div>Type: String</div>
<div>The name of a jQuery method that generated the array of elements.</div>
</li>
<li>
<div><strong>arguments</strong></div>
<div>Type: Array</div>
<div>The arguments that were passed in to the jQuery method (for serialization).</div>
</li>
</ul>
</li>
</ul>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Example:</h2></header><div class="entry-example" id="example-0">
<h4><span class="desc">Add some elements onto the jQuery stack, then pop back off again.</span></h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>jQuery([])</code></div></div><div class="container"><div class="line"><code>    .pushStack( document.getElementsByTagName(<span class="string">"div"</span>) )</code></div></div><div class="container"><div class="line"><code>        .remove()</code></div></div><div class="container"><div class="line"><code>    .end();</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>