<script>{
		"title":
			".selector",
		"excerpt":
			"A selector representing selector passed to jQuery(), if any, when creating the original set.",
		"termSlugs": {
			"category": [
				"internals","properties/global-jquery-object-properties","version/1.3","deprecated/deprecated-1.7"
			]
		}
	}</script><h2 class="section-title">
<span>selector</span><span class="returns">Returns: String</span><span class="version-details">version deprecated: 1.7, removed: 1.9</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>A selector representing selector passed to jQuery(), if any, when creating the original set.</p>
<ul class="signatures"><li class="signature"><h4 class="name">
<span class="version-details">version added: 1.3</span>selector</h4></li></ul>
<div class="longdesc" id="entry-longdesc">
    <p>The <code>.selector</code> property was deprecated in jQuery 1.7 and is only maintained to the extent needed for supporting <code>.live()</code> in the jQuery Migrate plugin. It may be removed without notice in a future version. The property was never a reliable indicator of the selector that could be used to obtain the set of elements currently contained in the jQuery set where it was a property, since subsequent traversal methods may have changed the set. Plugins that need to use a selector should have the caller pass in the selector as part of the plugin's arguments during initialization.</p>
  </div>
</div>