<script>{
		"title":
			".trigger()",
		"excerpt":
			"Execute all handlers and behaviors attached to the matched elements for the given event type.",
		"termSlugs": {
			"category": [
				"events/event-handler-attachment","version/1.0"
			]
		}
	}</script><h2 class="section-title">
<span class="name">.trigger( eventType [, extraParameters ] )</span><span class="returns">Returns: jQuery</span>
</h2><div class="entry-wrapper">
<p class="desc"><strong>Description: </strong>Execute all handlers and behaviors attached to the matched elements for the given event type.</p>
<ul class="signatures">
<li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.0</span>.trigger( eventType [, extraParameters ] )</h4>
<ul>
<li>
<div><strong>eventType</strong></div>
<div>Type: String</div>
<div>A string containing a JavaScript event type, such as <code>click</code> or <code>submit</code>.</div>
</li>
<li>
<div><strong>extraParameters</strong></div>
<div>Type: Array or PlainObject</div>
<div>Additional parameters to pass along to the event handler.</div>
</li>
</ul>
</li>
<li class="signature">
<h4 class="name">
<span class="version-details">version added: 1.3</span>.trigger( event [, extraParameters ] )</h4>
<ul>
<li>
<div><strong>event</strong></div>
<div>Type: Event</div>
<div>A <code>jQuery.Event</code> object.</div>
</li>
<li>
<div><strong>extraParameters</strong></div>
<div>Type: Array or PlainObject</div>
<div>Additional parameters to pass along to the event handler.</div>
</li>
</ul>
</li>
</ul>
<div class="longdesc" id="entry-longdesc">
    <p>Any event handlers attached with <code>.on()</code> or one of its shortcut methods are triggered when the corresponding event occurs. They can be fired manually, however, with the <code>.trigger()</code> method. A call to <code>.trigger()</code> executes the handlers in the same order they would be if the event were triggered naturally by the user:</p>
    <div class="syntaxhighlighter javascript nogutter">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$(<span class="string">'#foo'</span>).on(<span class="string">'click'</span>, <span class="keyword">function</span>() {</code></div></div><div class="container"><div class="line"><code>      alert($(<span class="keyword">this</span>).text());</code></div></div><div class="container"><div class="line"><code>    });</code></div></div><div class="container"><div class="line"><code>    $(<span class="string">'#foo'</span>).trigger(<span class="string">'click'</span>);</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

    <p>As of jQuery 1.3, <code>.trigger()</code>ed events bubble up the DOM tree; an event handler can stop the bubbling by returning <code>false</code> from the handler or calling the <code>.stopPropagation()</code> method on the event object passed into the event. Although <code>.trigger()</code> simulates an event activation, complete with a synthesized event object, it does not perfectly replicate a naturally-occurring event.</p>
    <p>To trigger handlers bound via jQuery without also triggering the native event, use <code>.triggerHandler()</code> instead. </p>
    <p>When we define a custom event type using the <code>.on()</code> method, the second argument to <code>.trigger()</code> can become useful. For example, suppose we have bound a handler for the <code>custom</code> event to our element instead of the built-in <code>click</code> event as we did above:</p>
    <div class="syntaxhighlighter javascript nogutter">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$(<span class="string">'#foo'</span>).on(<span class="string">'custom'</span>, <span class="keyword">function</span>(event, param1, param2) {</code></div></div><div class="container"><div class="line"><code>  alert(param1 + <span class="string">"\n"</span> + param2);</code></div></div><div class="container"><div class="line"><code>});</code></div></div><div class="container"><div class="line"><code>$(<span class="string">'#foo'</span>).trigger(<span class="string">'custom'</span>, [<span class="string">'Custom'</span>, <span class="string">'Event'</span>]);</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

    <p>The event object is always passed as the first parameter to an event handler. An array of arguments can also be passed to the .trigger() call, and these parameters will be passed along to the handler as well following the event object. As of jQuery 1.6.2, single string or numeric argument can be passed without being wrapped in an array.</p>
    <p>Note the difference between the extra parameters passed here and the <code>eventData</code> parameter to the .on() method. Both are mechanisms for passing information to an event handler, but the <code>extraParameters</code> argument to <code>.trigger()</code> allows information to be determined at the time the event is triggered, while the <code>eventData</code> argument to <code>.on()</code> requires the information to be already computed at the time the handler is bound.</p>
    <p>The <code>.trigger()</code> method can be used on jQuery collections that wrap plain JavaScript objects similar to a pub/sub mechanism; any event handlers bound to the object will be called when the event is triggered. </p>
    <div class="warning">
<strong>Note:</strong> For both plain objects and DOM objects other than <code>window</code>, if a triggered event name matches the name of a property on the object, jQuery will attempt to invoke the property as a method if no event handler calls <code>event.preventDefault()</code>. If this behavior is not desired, use <code>.triggerHandler()</code> instead.</div>
  </div>
<section class="entry-examples" id="entry-examples"><header><h2 class="underline">Examples:</h2></header><div class="entry-example" id="example-0">
<h4>Example: <span class="desc">Clicks to button #2 also trigger a click for button #1.</span>
</h4>
<div class="syntaxhighlighter xml ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
						<div class="line n5">5</div>
					
						<div class="line n6">6</div>
					
						<div class="line n7">7</div>
					
						<div class="line n8">8</div>
					
						<div class="line n9">9</div>
					
						<div class="line n10">10</div>
					
						<div class="line n11">11</div>
					
						<div class="line n12">12</div>
					
						<div class="line n13">13</div>
					
						<div class="line n14">14</div>
					
						<div class="line n15">15</div>
					
						<div class="line n16">16</div>
					
						<div class="line n17">17</div>
					
						<div class="line n18">18</div>
					
						<div class="line n19">19</div>
					
						<div class="line n20">20</div>
					
						<div class="line n21">21</div>
					
						<div class="line n22">22</div>
					
						<div class="line n23">23</div>
					
						<div class="line n24">24</div>
					
						<div class="line n25">25</div>
					
						<div class="line n26">26</div>
					
						<div class="line n27">27</div>
					
						<div class="line n28">28</div>
					
						<div class="line n29">29</div>
					
						<div class="line n30">30</div>
					
						<div class="line n31">31</div>
					
						<div class="line n32">32</div>
					
						<div class="line n33">33</div>
					
						<div class="line n34">34</div>
					
						<div class="line n35">35</div>
					
						<div class="line n36">36</div>
					
						<div class="line n37">37</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code><span class="doctype">&lt;!doctype html&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">html</span> <span class="attribute">lang</span>=<span class="value">"en"</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">head</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  <span class="tag">&lt;<span class="title">meta</span> <span class="attribute">charset</span>=<span class="value">"utf-8"</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  <span class="tag">&lt;<span class="title">title</span>&gt;</span>trigger demo<span class="tag">&lt;/<span class="title">title</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  <span class="tag">&lt;<span class="title">style</span>&gt;</span><span class="css"></span></code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code><span class="tag">button</span> <span class="rules">{ <span class="rule"><span class="attribute">margin</span>:<span class="value"><span class="number">10</span>px;</span></span> <span class="rule">}</span></span></code></div></div><div class="container"><div class="line"><code><span class="tag">div</span> <span class="rules">{ <span class="rule"><span class="attribute">color</span>:<span class="value">blue;</span></span> <span class="rule"><span class="attribute">font-weight</span>:<span class="value">bold;</span></span> <span class="rule">}</span></span></code></div></div><div class="container"><div class="line"><code><span class="tag">span</span> <span class="rules">{ <span class="rule"><span class="attribute">color</span>:<span class="value">red;</span></span> <span class="rule">}</span></span></code></div></div><div class="container"><div class="line"><code>  <span class="tag">&lt;/<span class="title">style</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  <span class="tag">&lt;<span class="title">script</span> <span class="attribute">src</span>=<span class="value">"http://code.jquery.com/jquery-1.9.1.js"</span>&gt;</span><span class="javascript"></span><span class="tag">&lt;/<span class="title">script</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;/<span class="title">head</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">body</span>&gt;</span></code></div></div><div class="container"><div class="line"><code>  <span class="tag">&lt;<span class="title">button</span>&gt;</span>Button #1<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">button</span>&gt;</span>Button #2<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">div</span>&gt;</span><span class="tag">&lt;<span class="title">span</span>&gt;</span>0<span class="tag">&lt;/<span class="title">span</span>&gt;</span> button #1 clicks.<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">div</span>&gt;</span><span class="tag">&lt;<span class="title">span</span>&gt;</span>0<span class="tag">&lt;/<span class="title">span</span>&gt;</span> button #2 clicks.<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;<span class="title">script</span>&gt;</span><span class="javascript"></span></code></div></div><div class="container"><div class="line"><code>$(<span class="string">"button:first"</span>).click(<span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span></code></div></div><div class="container"><div class="line"><code>update($(<span class="string">"span:first"</span>));</code></div></div><div class="container"><div class="line"><code>});</code></div></div><div class="container"><div class="line"><code>$(<span class="string">"button:last"</span>).click(<span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span></code></div></div><div class="container"><div class="line"><code>$(<span class="string">"button:first"</span>).trigger(<span class="string">'click'</span>);</code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code>update($(<span class="string">"span:last"</span>));</code></div></div><div class="container"><div class="line"><code>});</code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code><span class="function"><span class="keyword">function</span> <span class="title">update</span><span class="params">(j)</span> {</span></code></div></div><div class="container"><div class="line"><code><span class="keyword">var</span> n = parseInt(j.text(), <span class="number">10</span>);</code></div></div><div class="container"><div class="line"><code>j.text(n + <span class="number">1</span>);</code></div></div><div class="container"><div class="line"><code>}</code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;/<span class="title">script</span>&gt;</span></code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;/<span class="title">body</span>&gt;</span></code></div></div><div class="container"><div class="line"><code><span class="tag">&lt;/<span class="title">html</span>&gt;</span></code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<h4>Demo:</h4>
<div class="demo code-demo"></div>
</div>
<div class="entry-example" id="example-1">
<h4>Example: <span class="desc">To submit the first form without using the submit() function, try:</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$(<span class="string">"form:first"</span>).trigger(<span class="string">"submit"</span>)</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="entry-example" id="example-2">
<h4>Example: <span class="desc">To submit the first form without using the submit() function, try:</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
						<div class="line n5">5</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code><span class="keyword">var</span> event = jQuery.Event(<span class="string">"submit"</span>);</code></div></div><div class="container"><div class="line"><code>$(<span class="string">"form:first"</span>).trigger(event);</code></div></div><div class="container"><div class="line"><code><span class="keyword">if</span> ( event.isDefaultPrevented() ) {</code></div></div><div class="container"><div class="line"><code><span class="comment">// Perform an action...</span></code></div></div><div class="container"><div class="line"><code>}</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="entry-example" id="example-3">
<h4>Example: <span class="desc">To pass arbitrary data to an event:</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
						<div class="line n5">5</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$(<span class="string">"p"</span>).click( <span class="function"><span class="keyword">function</span> <span class="params">(event, a, b)</span> {</span></code></div></div><div class="container"><div class="line"><code><span class="comment">// when a normal click fires, a and b are undefined</span></code></div></div><div class="container"><div class="line"><code><span class="comment">// for a trigger like below a refers to "foo" and b refers to "bar"</span></code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code>} ).trigger(<span class="string">"click"</span>, [<span class="string">"foo"</span>, <span class="string">"bar"</span>]);</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="entry-example" id="example-4">
<h4>Example: <span class="desc">To pass arbitrary data through an event object:</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code><span class="keyword">var</span> event = jQuery.Event(<span class="string">"logged"</span>);</code></div></div><div class="container"><div class="line"><code>event.user = <span class="string">"foo"</span>;</code></div></div><div class="container"><div class="line"><code>event.pass = <span class="string">"bar"</span>;</code></div></div><div class="container"><div class="line"><code>$(<span class="string">"body"</span>).trigger(event);</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="entry-example" id="example-5">
<h4>Example: <span class="desc">Alternative way to pass data through an event object:</span>
</h4>
<div class="syntaxhighlighter javascript ">
	<table>
		<tbody>
			<tr>
				<td class="gutter">
					
						<div class="line n1">1</div>
					
						<div class="line n2">2</div>
					
						<div class="line n3">3</div>
					
						<div class="line n4">4</div>
					
						<div class="line n5">5</div>
					
						<div class="line n6">6</div>
					
				</td>
				<td class="code">
					<pre><div class="container"><div class="line"><code>$(<span class="string">"body"</span>).trigger({</code></div></div><div class="container"><div class="line"><code>type:<span class="string">"logged"</span>,</code></div></div><div class="container"><div class="line"><code>user:<span class="string">"foo"</span>,</code></div></div><div class="container"><div class="line"><code>pass:<span class="string">"bar"</span></code></div></div><div class="container"><div class="line"><code> </code></div></div><div class="container"><div class="line"><code>});</code></div></div></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div></section>
</div>